.noble-container {
    background: white;
    border-radius: 10px;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-position: center;
        width: 50%;
        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
          }
    > div {
        padding: .5em;
    }
}