.card-container {
    min-height: 15vh;
    border: solid 1px black;
    .victory-points {
        font-size: 3em;
    }
    .cost-container {
        .cost {
            border: solid 2px black;
            border-radius: 50%;
            background: orange;
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            .quantity {
                color: white;
            }
            &.cost-RUBY {
                background: red;
            }
            &.cost-SAPPHIRE {
                background: blue;
            }
            &.cost-EMERALD {
                background: green;
            }
            &.cost-DIAMOND {
                background: white;
            }
            &.cost-ONYX {
                background: black;
            }
        }
    }
}
