@mixin tokenDesign($color) {
    border: 5px solid $color;
    background-color: $color;
    
  }
.token-container {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    margin-top: 1em;
    border: solid 2px black;
    .token {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .token-DIAMOND {
        @include tokenDesign($diamond);
        background-image: url("../../assets/gems/diamond.png");
    }
    .token-ONYX {
        @include tokenDesign($onyx);
        background-image: url("../../assets/gems/onyx.png");
    }
    .token-RUBY {
        @include tokenDesign($ruby);
        background-image: url("../../assets/gems/ruby.png")
    }
    .token-GOLD {
        @include tokenDesign($gold);
        background-image: url("../../assets/gems/gold.png")
    }
    .token-SAPPHIRE {
        @include tokenDesign($sapphire);
        background-image: url("../../assets/gems/sapphire.png");
    }
    .token-EMERALD {
        @include tokenDesign($emerald);
        background-image: url("../../assets/gems/emerald.png");
    }
}
